@tailwind base;
@tailwind components;
@tailwind utilities;


#map {
    min-height: 300px;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    z-index: 1;
    backdrop-filter: blur(8px);
}